/* Space out content a bit */
body {
  padding-bottom: 20px;
  font-size: 16px;
}

table, label,.control-label,.help-block,.checkbox,.radio { font-size: 14px; }
.alert { font-size: 1em; font-weight: 500; }

.label:hover { text-decoration: none; }

.showmore-content {
    overflow: hidden;
    height: 165px;
}

.showmore-content p {
    font-size: 14px;
    line-height: 20px;
}

.showmore, .showless {
    margin-top: 10px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.jumbotron li {
  font-size: 16px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.nowrap { white-space:nowrap; }

.image-inset {
  /* An attempt an a shadow
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
  overflow: hidden;
 */
  border: solid 1px;
}
