/* NDI OEDI styling */
body {
  font-family:"Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
}

a, .btn-link {
  color: #CC4627;
}

a:hover, a:focus, a:active {
  color: #93321c;
}

.navbar-default{
  background-color: #003C7D;
  height: 50px;
}
.navbar-brand img{
  height: 26px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>li>a {
  color: #DEEAF3;
}

.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #fff;
}

.navbar > .navbar-collapse{
  margin-top: 6px;
}

.navbar-collapse{
  background-color: #003C7D;
  border: none;
}

.btn {
    border-radius: 0px;
}

.btn-success{
  background-color: #003C7D;
  background-image: none;
  border: none;
}

.btn-success:hover{
  background-color: #002c5b;
  background-image: none;
  border: none;
}

.btn-info{
  color: #003C7D;
  background-color: #DEEAF3;
  background-image: none;
  border: none;
}

.btn-info:hover{
  color: #003C7D;
  background-color: #c5daea;
  background-image: none;
  border: none;
}

.btn-danger{
  background-color: #BE1E25;
  background-image: none;
  border: none;
}

.btn-danger:hover{
  background-color: #a1191f;
  background-image: none;
  border: none;
}

h1, h2, h3, h4, h5{
  color: #003C7D;
  font-weight: 700;
}

.progress{
  border-radius: 0px;
}

.progress-bar-success {
  background-color: #003C7D;
}

.well{
  border-radius: 0px;
  border: none;
  background-color: #F1F2F2;
}

/* Space out content a bit */
body {
  padding-bottom: 20px;
  font-size: 16px;
}

table, label,.control-label,.help-block,.checkbox,.radio { font-size: 16px; }
.alert { font-size: 1em; font-weight: 500; }

.label:hover { text-decoration: none; }

.form-fit {
  max-height: 100%;
  overflow-y:scroll;
}

.showmore-content {
    overflow: hidden;
    height: 165px;
}

.showmore-content p {
    font-size: 14px;
    line-height: 20px;
}

.showmore, .showless {
    margin-top: 10px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.jumbotron li {
  font-size: 16px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.nowrap { white-space:nowrap; }

.image-inset {
  /* An attempt an a shadow
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
 */
  border: solid 1px;
  overflow: hidden;
}

.checkbox.field-checks {
  padding-top:0;
}

/**** Autocomplete Widget ****/

/* highlight results */
.ui-autocomplete span.hl_results {
    background-color: #ffff66;
}

/* loading - the AJAX indicator
.ui-autocomplete-loading {
    background: white url('../img/ui-anim_basic_16x16.gif') right center no-repeat;
}
*/
/* scroll results */
.ui-autocomplete {
    max-height: 250px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding for vertical scrollbar */
    padding-right: 5px;
}

.ui-autocomplete li {
    font-size: 16px;
}

/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
    height: 250px;
}


/* Task finish alert banner */
.task-finish-alert{
  margin-bottom: 0px;/*
  padding-left: 15px;
  padding-right: 15px;*/
}

/* sortable listing of tasks on task group page */
.task-well{
  margin-left: 15px;
}


/* hierarchy tree */
.tree {
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}

/* view transcriptions page */
.status-heading{
  color: #444;
  font-size: 1.6em;
}

.image_ids{
  width: 40px;
  display: inline-block;
}

.progress-bar-done{
  background-color: #00B16A;
}
.done{
  color: #00B16A;
}
.progress-bar-inprog{
  background-color: #F9BF3B;
}
.inprog{
  color: #F9BF3B;
}
.progress-bar-conflict{
  background-color: #D35400;
}
.conflict{
  color: #D35400;
}
.unseen{
  color: #ccc;
}
