{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class='col-md-3'>
  <div class='well'>
    <h3>About</h3>
    <ul>
      <li><a href='#what-is-this'>What is this?</a></li>
      <li><a href='#why-does-this-matter'>Why does this matter?</a></li>
      <li><a href='#contact-us'>Contact us</a></li>
    </ul>
  </div>
</div>
<div class="col-md-9">
  <h3 id='what-is-this'>What is this?</h3>
  <p>
    This is a data transcription tool that aims to make official electoral data more accessible and useful to citizens all over the world.
  </p>
  <h3 id='why-does-this-matter'>Why does this matter?</h3>
  <p>
    As more electoral management bodies (EMBs) around the world are making electoral data available online, it is not always provided in the most accessible formats. Some EMBs post image files or scans of the original election results forms that have been filled by hand, and while it is commendable that digital copies of election forms are posted (often as .pdf files or .jpg files), the image files are not machine-readable.
  </p>
  <p>
    This tool was built to unlock this kind of official data from image files by making it easy for teams of citizens within a country or a web of volunteers around the world to convert it into a digital, readable format.
  </p>
  <p>
    Converting, or 'opening' this data provides opportunities for nonpartisan citizen groups, political parties and the media, to use this data more effectively. Equipped with official election data, these actors can help reduce political tensions and uncertainty during the tense period surrounding election day and to build confidence in the credibility of the electoral process.
  </p>

  <h3 id='contact-us'>Contact us</h3>
  <p>
    We're still in the process of developing this tool and we'd love to hear any feedback you have. <a href="http://openelectiondata.net/en/contact/" target="blank">Drop us a line</a> if you have questions or comments!
  </p>
</div>

{% endblock %}
