{% extends 'base.html' %}
{% block title %}Edit task group | {{ task_group.name }}{% endblock %}
{% block extra_styles %}
    <link href="{{ url_for('static', filename='css/jquery-ui.min.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
<h2>{{ task_group.name }}</h2>
<hr>
<p>Drag the tasks to set task priority, from highest to lowest.</p><br>

<div id="task-sorter">
    {% for task in task_group.tasks %}
        {% if task.status != 'deleted' %}
            <div class="row" id="{{ task.id }}">
                <div class="col-sm-5 well well-sm task-well">
                    <span class="task-choice">
                            <i class="fa fa-arrows-v fa-fw"></i> <strong>{{ task.name }}</strong>
                    </span>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
<form id="prioritize-tasks" role="form" class="form-horizontal" method="POST" action="">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <br><button class="btn btn-success" id="save-form"><i class='fa fa-check'></i> Save Task Priorities</button>
</form>


{% endblock %}

{% block extra_javascript %}
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script type='text/javascript'>
        $(document).ready(function(){
            $('#task-sorter').sortable()

            $('h3 .label').on('mouseover', function(e){
                $(this).css('cursor', 'pointer');
            })
            $('h3 .label').on('mouseout', function(e){
                $(this).css('cursor', 'inherit');
            })

            $('#save-form').on('click', function(e){

                var task_array = $('#task-sorter').sortable('toArray')

                var input = $("<input>")
                   .attr("type", "hidden")
                   .attr("name", "task_array").val(JSON.stringify(task_array));
                    $('#prioritize-tasks').append($(input));

            })
        });

    </script>
{% endblock %}
