{% extends 'base.html' %}
{% block title %}Edit task group | {{ task_group.name }}{% endblock %}
{% block extra_styles %}
    <link href="{{ url_for('static', filename='css/jquery-ui.min.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
<h2>{{ task_group.name }}</h2>
<hr>
<p>Drag the tasks to set task priority, from highest to lowest.</p><br>

<div id="task-sorter">
    {% for task in task_group.tasks %}
        {% if task.status != 'deleted' %}
            <div class="row">
                <div class="col-sm-5 well well-sm task-well">
                    <span class="task-choice" data-task_index="{{ loop.index }}"
                        data-task_id="{{ task.id }}">
                            <i class="fa fa-arrows-v fa-fw"></i> <strong>{{ task.name }}</strong>
                    </span>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
<br><button class="btn btn-success" id="save-priorities"><i class='fa fa-check'></i> Save Task Priorities</button>


{% endblock %}

{% block extra_javascript %}
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script type='text/javascript'>
        $(document).ready(function(){
            $('#task-sorter').sortable({
                update: function(event, ui){
                    console.log(ui.item.find('.task-choice').data('task_index'));
                }
            })
            $('h3 .label').on('mouseover', function(e){
                $(this).css('cursor', 'pointer');
            })
            $('h3 .label').on('mouseout', function(e){
                $(this).css('cursor', 'inherit');
            })

        });
    </script>
{% endblock %}
