{% extends 'base.html' %}
{% block title %}
    {% if form_meta.name %}
    Form Creator - {{form_meta.name}}
    {% else %}
    Form Creator - New form
    {% endif %}
{% endblock %}
{% block content %}
<div class="row">
    <div class='col-md-5'>
        {% if session.image_type == 'pdf' %}
        <iframe src="{{ url_for('views.viewer', file=session.image) }}"
                id="result-image"
                frameborder="0"
                seamless="true"
                width="100%"
                height="450px">
        </iframe>
        {% else %}
        <div class="row">
            <div class="col-md-12 image-inset">
                <img src="{{session.image}}" class="panzoom" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="range" />
            </div>
        </div>
        {% endif %}
    </div>
    <div class="col-md-7" id="form-wrapper">
        <form id="task-form" role="form" class="form" method="POST" action="">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="form-group">
                <input type="text"
                       class="form-control"
                       id="id_task_name"
                       name="task_name"
                       {% if form_meta.name %}
                       value="{{ form_meta.name }}"
                       {% else %}
                       placeholder="New task"
                       {% endif %}
                       aria-describedby="section-name-addon"/>
            </div>
            <div class="form-group" id="add-section-container">
                <h3>
                    Add Section
                    <button class="btn btn-link add-section">
                        <i class="fa fa-plus"> </i>
                    </button>
                </h3>
                {% if form_meta.sections %}
                {% for section in form_meta.sections %}
                <div class="well">
                    <div class="form-group">
                        <input type="text"
                               class="form-control"
                               value="{{ section.name }}"
                               name="section_{{ section.index }}" />
                    </div>
                    <div class="form-group add-field-container">
                        <h3>
                            Add Field
                            <button class="btn btn-link add-field">
                                <i class="fa fa-plus"> </i>
                            </button>
                        </h3>
                        {% for field in section.fields %}
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-9">
                                    <input type="text"
                                           class="form-control"
                                           value="{{ field.name }}"
                                           name="section_{{ section.index }}_field_{{ field.index }}" />
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" name="datatype_section_{{ section.index }}_field_{{ field.index }}">
                                        <option value="">Select field type</option>
                                        <option value="boolean"{% if field.data_type == 'boolean' %} selected="true"{% endif %}>Yes / No</option>
                                        <option value="string"{% if field.data_type == 'string' %} selected="true"{% endif %}>Text</option>
                                        <option value="datetime"{% if field.data_type == 'datetime' %} selected="true"{% endif %}>Date and time</option>
                                        <option value="date"{% if field.data_type == 'date' %} selected="true"{% endif %}>Date</option>
                                        <option value="integer"{% if field.data_type == 'integer' %} selected="true"{% endif %}>Number</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="well">
                    <div class="form-group">
                        <input type="text"
                               class="form-control"
                               placeholder="Name this section"
                               name="section_1" />
                    </div>
                    <div class="form-group add-field-container">
                        <h3>
                            Add Field
                            <button class="btn btn-link add-field">
                                <i class="fa fa-plus"> </i>
                            </button>
                        </h3>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-9">
                                    <input type="text"
                                           class="form-control"
                                           placeholder="Name this field"
                                           name="section_1_field_1" />
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" name="datatype_section_1_field_1">
                                        <option value="">Select field type</option>
                                        <option value="boolean">Yes / No</option>
                                        <option value="string">Text</option>
                                        <option value="datetime">Date and time</option>
                                        <option value="date">Date</option>
                                        <option value="integer">Number</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="form-group">
                <button class="btn btn-default" id="save-form">
                    Save
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block extra_javascript %}
    <script src="{{ url_for('static', filename='js/ejs_production.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.panzoom.min.js') }}"></script>
    <script type="text/EJS" id="sectionTemplate">
        <div class="well">
            <div class="form-group">
                <input type="text"
                       class="form-control"
                       placeholder="Name this section"
                       name="section_<%= section_id %>" />
            </div>
            <div class="form-group add-field-container">
                <h3>
                    Add Field
                    <button class="btn btn-link add-field">
                        <i class="fa fa-plus"> </i>
                    </button>
                </h3>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-9">
                            <input type="text"
                                   class="form-control"
                                   placeholder="Name this field"
                                   name="section_<%= section_id %>_field_1" />
                        </div>
                        <div class="col-sm-3">
                            <select class="form-control" name="datatype_section_<%= section_id %>_field_1">
                                <option value="">Select field type</option>
                                <option value="boolean">Yes / No</option>
                                <option value="string">Text</option>
                                <option value="datetime">Date and time</option>
                                <option value="date">Date</option>
                                <option value="integer">Number</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script type="text/EJS" id="fieldTemplate">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           placeholder="Name this field"
                           name="section_<%= section_id %>_field_<%= field_id %>" />
                </div>
                <div class="col-sm-3">
                    <select class="form-control" name="datatype_section_<%= section_id %>_field_<%= field_id %>">
                        <option value="">Select field type</option>
                        <option value="boolean">Yes / No</option>
                        <option value="string">Text</option>
                        <option value="datetime">Date and time</option>
                        <option value="date">Date</option>
                        <option value="integer">Number</option>
                    </select>
                </div>
            </div>
        </div>
    </script>
    <script type="text/javascript">
        var section_id = {{ next_section_index|tojson|safe }}
        var field_ids = {{ next_field_index|tojson|safe }}
        $(document).ready(function(){
            $('#save-form').on('click', function(e){
                e.preventDefault();
                var inputs = $('#task-form').find('input');
                var selects = $('#task-form').find('select');
                var valid = true;
                $.each(inputs, function(i, inp){
                    if ($(inp).val() == ''){
                        valid = false;
                        $(inp).parent().addClass('has-error');
                        $(inp).parent().append('<span class="help-block">This field is required</span>')
                    } else {
                        $(inp).parent().removeClass('has-error');
                        $(inp).parent().find('span').remove();
                    }
                });
                $.each(selects, function(i, inp){
                    if ($(inp).val() == ''){
                        valid = false;
                        $(inp).parent().addClass('has-error');
                        $(inp).parent().append('<span class="help-block">Pick a field type</span>')
                    } else {
                        $(inp).parent().removeClass('has-error');
                        $(inp).parent().find('span').remove();
                    }
                });
                if(valid){
                    $('#task-form').submit();
                }
            })
            $('.add-field').on('click', addField)
            $('.add-section').on('click', function(e){
                e.preventDefault();
                var tpl = new EJS({'text': $('#sectionTemplate').html()});
                $('#add-section-container').append(tpl.render({'section_id': section_id}));
                $('.add-field').off();
                $('.add-field').on('click', addField)
                section_id += 1;
                resizeImage();
                return false;
            })
            $('.panzoom').panzoom({
                $zoomRange: $('input[type="range"]')
            });
        })
        function getFieldID(section_id){
            if(typeof field_ids[section_id] === 'undefined'){
                field_ids[section_id] = 2;
                return 2;
            } else {
                field_ids[section_id] = field_ids[section_id] + 1;
                return field_ids[section_id]
            }
        }
        function resizeImage(){
            var form_height = $('#form-wrapper').height();
            if (form_height > $('#result-image').height()){
                $('#result-image').height(form_height);
            }
        }
        function addField(e){
            e.preventDefault();
            var parent = $(e.target).parent().parent();
            var section = $(parent).parent().find('input[name^="section"]');
            var section_id = $(section).attr('name').split('_')[1];
            var tpl = new EJS({'text': $('#fieldTemplate').html()});
            $(parent).append(tpl.render({'section_id': section_id, 'field_id': getFieldID(section_id)}));
            resizeImage();
            return false;
        }
    </script>
{% endblock %}
