{% extends 'base.html' %}
{% from 'macros.html' import render_image, render_admin_header %}
{% block title %}
    {% if form_meta.name %}
    Transcription task - {{form_meta.name}}
    {% else %}
    Transcription task - New form
    {% endif %}
{% endblock %}
{% block extra_styles %}
    <link href="{{ url_for('static', filename='css/jquery-ui.min.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}

{% if form_meta.name %}
    {{ render_admin_header(form_meta.name, None, form_meta.id, 'form-creator') }}
{% else %}
    {{ render_admin_header('New Transcription Task', None, None, 'form-creator') }}
{% endif %}

<div class="row">
    <div class='col-md-6'>
        {{ render_image() }}
    </div>
    <div class="col-md-6 form-fit" id="form-wrapper">
        <form id="task-form" role="form" class="form form-horizontal" method="POST" action="">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class='well'>
                <div class="form-group">
                    <label for="id_task_name" class="col-sm-3 control-label">Task Name</label>
                    <div class="col-sm-9">
                        <input type="text"
                           class="form-control"
                           id="id_task_name"
                           name="task_name"
                           placeholder="A new transcription task"
                           aria-describedby="section-name-addon"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_task_group" class="col-sm-3 control-label">Task Group</label>
                    <div class="col-sm-9">
                        <input type="text"
                               class="form-control"
                               id="id_task_group"
                               name="task_group"
                               placeholder="A new task group"
                               aria-describedby="section-name-addon"/>
                        </div>
                </div>
                <div class="form-group">
                    <label for="id_deadline" class="col-sm-3 control-label">Deadline</label>
                    <div class="col-sm-9">
                        <div class='input-group date' id='id_deadline'>
                            <input type='text' name="deadline" class="form-control" />
                            <span class="input-group-addon"><span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_reviewer_count" class="col-sm-3 control-label">Reviewers</label>
                    <div class="col-sm-2">
                        <input type="text"
                           class="form-control"
                           id="id_reviewer_count"
                           name="reviewer_count"
                           placeholder="2"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_task_description" class="col-sm-3 control-label">Instructions</label>
                    <div class="col-sm-9">
                        <textarea
                           class="form-control"
                           id="id_task_description"
                           name="task_description"
                           placeholder="Task description and instructions"></textarea>
                    </div>
                </div>
                {% if not form_meta.name and session.page_count > 10 %}
                <hr>
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-1">
                        <p class="text-warning"><i class='fa fa-warning'></i> It looks like each document has many pages</p>
                        <div></div>
                        <input type="radio" name="is_concat" value="keep_intact" checked> Don't split documents<br>
                        <input type="radio" name="is_concat" value="split"> Split documents at page breaks
                    </div>
                </div>
                {% endif %}

                <!-- <div class="form-group">
                    <label for="id_task_description" class="col-sm-3 control-label">Instructions</label>
                    <div class="col-sm-9">
                        <textarea
                           class="form-control"
                           id="id_task_group_description"
                           name="task_group_description"
                           placeholder="Task group description"></textarea>
                    </div>
                </div> -->
            </div>
            <div id="add-section-container"></div>
            <h4>
                <a href='#' class="add-section btn btn-info">
                    <i class="fa fa-plus"></i>
                    Add another section
                </a>
            </h4>
            <hr />
            <div class="form-group">
                <div class="col-sm-12">
                    <button class="btn btn-success" id="save-form">
                        <i class='fa fa-save fa-fw'></i>
                        Save Task
                    </button>
                    <button type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target="#delete-warning" id="prompt-delete">
                        <i class='fa fa-trash-o fa-fw'></i>
                        Delete Task
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="delete-warning" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3>Are you sure?</h3><br>
                <button class="btn btn-danger btn-lg" id="delete-task">
                    Yes, delete this task
                </button>
                <!-- </a> -->
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


{% endblock %}
{% block extra_javascript %}
    <script src="{{ url_for('static', filename='js/ejs_production.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.panzoom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-datetimepicker.min.js') }}"></script>
    <script type="text/EJS" id="sectionTemplate">
        <div class="well">
            <div class="form-group">
                <label for="id_section_<%= section.index %>" class="col-sm-2 control-label">Section</label>
                <div class='col-sm-10'>
                    <input type="text"
                       class="form-control"
                       <% if (typeof section.name !== 'undefined'){ %>
                       value="<%= section.name %>"
                       <% } else { %>
                       placeholder="Section name"
                       <% } %>
                       name="section_<%= section.index %>"
                       id="id_section_<%= section.index %>" />
                </div>
            </div>
            <div class="add-field-container">
                <% $.each(section.fields, function(i, field){ %>
                    <% if (field.status != 'deleted'){ %>
                        <div class="form-group">
                            <label for="id_section_<%= section.index %>_<%= field.index %>" class="col-sm-2 control-label">Field</label>
                            <div class="col-sm-5">
                                <input type="text"
                                       class="form-control"
                                       <% if (typeof field.name !== 'undefined'){ %>
                                            <% var field_exists = true %>
                                       value="<%= field.name %>"
                                       <% } else { %>
                                       placeholder="Name of a field to transcribe"
                                       <% } %>
                                       name="section_<%= section.index %>_field_<%= field.index %>"
                                       id="id_section_<%= section.index %>_field_<%= field.index %>" />
                            </div>
                            <div class="col-sm-4">
                                <select class="form-control" name="datatype_section_<%= section.index %>_field_<%= field.index %>" <% if (field_exists){ %> disabled <%}%> >
                                    <option value="integer" <% if(field.data_type == 'integer'){ %>selected="true"<% } %>>Number</option>
                                    <option value="string" <% if(field.data_type == 'string'){ %>selected="true"<% } %>>Text</option>
                                    <option value="boolean" <% if(field.data_type == 'boolean'){ %>selected="true"<% } %>>Yes / No</option>
                                    <option value="date" <% if(field.data_type == 'date'){ %>selected="true"<% } %>>Date</option>
                                    <option value="datetime" <% if(field.data_type == 'datetime'){ %>selected="true"<% } %>>Date with time</option>
                                </select>
                            </div>
                            <div class="col-sm-1">
                                <button class="delete btn btn-link" data-part_id="<%= field.id %>" data-part_type="field">
                                    <i class='fa fa-times'></i>
                                </button>
                            </div>
                        </div>
                    <% } %>
                <% }) %>
            </div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <a href='#' class="add-field btn btn-sm btn-info">
                        <i class="fa fa-plus"></i>
                        Add field
                    </a>
                    <button class="delete section btn btn-sm btn-link pull-right" data-part_id="<%= section.id %>" data-part_type="section">
                        <i class='fa fa-times'></i>
                        Delete section
                    </button>
                </div>
            </div>
        </div>
    </script>
    <script type="text/EJS" id="fieldTemplate">
        <div class="form-group">
            <label for="id_section_<%= section_id %>_field_<%= field_id %>" class="col-sm-2 control-label">Field</label>
            <div class="col-sm-5">
                <input type="text"
                       class="form-control"
                       placeholder="Name of a field to transcribe"
                       name="section_<%= section_id %>_field_<%= field_id %>"
                       id="id_section_<%= section_id %>_field_<%= field_id %>" />
            </div>
            <div class="col-sm-4">
                <select class="form-control" name="datatype_section_<%= section_id %>_field_<%= field_id %>">
                    <option value="integer">Number</option>
                    <option value="string">Text</option>
                    <option value="boolean">Yes / No</option>
                    <option value="date">Date</option>
                    <option value="datetime">Date with time</option>
                </select>
            </div>
            <div class="col-sm-1">
                <button class="delete btn btn-link" data-part_id="<%= field_id %>" data-part_type="field">
                    <i class='fa fa-times'></i>
                </button>
            </div>
        </div>
    </script>
    <script type="text/javascript">
        $(window).resize(function () {
            var h = $(window).height(),
            offsetTop = 135; // Calculate the top offset
            $('#form-wrapper').css('height', (h - offsetTop));
        }).resize();

        var section_id = {{ next_section_index|tojson|safe }}
        var field_ids = {{ next_field_index|tojson|safe }}
        var form_meta = {{ form_meta|tojson|safe }}

        $(document).ready(function(){
            $('#id_deadline').datetimepicker();

            if (form_meta.sections.length > 0){ // if editing instead of creating
                $('#id_task_name').val(form_meta.name);
                $('#id_task_description').val(form_meta.description);
                $('#id_task_group').val(form_meta.task_group.name);
                $('#id_deadline > input').val(form_meta.deadline);
                $('#id_reviewer_count').val(form_meta.reviewer_count);
                $('#id_task_group').data('groupid', form_meta.task_group.id);
                $('#id_task_group_description').val(form_meta.task_group.description);
                $.each(form_meta.sections, function(i, section){
                    if (section.status != 'deleted'){
                        var tpl = new EJS({'text': $('#sectionTemplate').html()});
                        $('#add-section-container').append(tpl.render({'section': section}))
                    }
                })

            } else { // if creating a new task
                var tpl = new EJS({'text': $('#sectionTemplate').html()});
                var blob = {'section': {'index': 1, 'fields': [{'index': 1}]}}
                $('#add-section-container').append(tpl.render(blob))
                $('#prompt-delete').hide() // hide delete button if just creating task
            }
            $('#save-form').on('click', function(e){
                e.preventDefault();
                var inputs = $('#task-form').find('input');
                var selects = $('#task-form').find('select');
                var valid = true;
                $.each(inputs, function(i, inp){
                    if ($(inp).val() == ''){
                        valid = false;
                        $(inp).parent().addClass('has-error');
                        $(inp).parent().append('<span class="help-block">This field is required</span>')
                    } else {
                        $(inp).parent().removeClass('has-error');
                        $(inp).parent().find('span').remove();
                    }
                });
                $.each(selects, function(i, inp){
                    if ($(inp).val() == ''){
                        valid = false;
                        $(inp).parent().addClass('has-error');
                        $(inp).parent().append('<span class="help-block">Pick a field type</span>')
                    } else {
                        $(inp).parent().removeClass('has-error');
                        $(inp).parent().find('span').remove();
                    }
                });
                if(valid){
                    if($('#id_task_group').data('groupid')){
                        var groupid = $('#id_task_group').data('groupid');
                        $('#task-form').append('<input type="hidden" name="task_group_id" value="' + groupid + '" />');
                    }
                    $('#task-form').submit();
                }
            })
            $('.add-field').on('click', addField)
            $('.add-section').on('click', function(e){
                e.preventDefault();
                var tpl = new EJS({'text': $('#sectionTemplate').html()});
                var blob = {'section': {'index': section_id, 'fields': [{'index': 1}]}}
                $('#add-section-container').append(tpl.render(blob));
                $('.add-field').off();
                $('.add-field').on('click', addField)
                $('.delete').off();
                $('.delete').on('click', deleteStuff)
                section_id += 1;
                resizeImage();
                return false;
            });
            $('.delete').on('click', deleteStuff)
            $('#delete-task').on('click', function(e){
                var task_id = form_meta.id;
                $.when(deleteTask(task_id)).then(function(resp){
                    console.log("RESP", resp);
                    window.location = '/'
                })
            })
            $('.panzoom').panzoom({
                $zoomRange: $('input[type="range"]')
            });
            $('#id_task_group').autocomplete({
                source: '/get-task-group/',
                minLength: 2,
                select: function(event, ui){
                    $('#id_task_group').val(ui.item.name);
                    $('#id_task_group_description').val(ui.item.description);
                    $('#id_task_group').data('groupid', ui.item.id);
                    return false;
                },
                focus: function(event, ui){
                    $('#id_task_group').val(ui.item.name);
                    $('#id_task_group_description').val(ui.item.description);
                    return false;
                }
            })
            .data('ui-autocomplete')._renderItem = function(ul, item){
                return $('<li>')
                    .append('<a data-groupid="' + item.id + '">' + item.name + '</a>')
                    .appendTo(ul);
            };
        })
        function getFieldID(section_id){
            if(typeof field_ids[section_id] === 'undefined'){
                field_ids[section_id] = 2;
                return 2;
            } else {
                field_ids[section_id] = field_ids[section_id] + 1;
                return field_ids[section_id]
            }
        }
        function resizeImage(){
            var form_height = $('#form-wrapper').height();
            if (form_height > $('#result-image').height()){
                $('#result-image').height(form_height);
            }
        }
        function addField(e){
            e.preventDefault();
            var parent = $(e.target).parent().parent().parent().find('.add-field-container');
            var section = $(parent).parent().find('input[name^="section"]');
            var section_id = $(section).attr('name').split('_')[1];
            var tpl = new EJS({'text': $('#fieldTemplate').html()});
            $(parent).append(tpl.render({'section_id': section_id, 'field_id': getFieldID(section_id)}));
            resizeImage();
            $('.delete').off();
            $('.delete').on('click', deleteStuff)
            return false;
        }
        function deleteStuff(e){
            e.preventDefault();
            var part_id = $(this).data('part_id');
            var part_type = $(this).data('part_type');
            var self = $(this)
            if (part_id && part_type){
                $.ajax({
                    url: '/delete-part/',
                    data: {'part_id': part_id, 'part_type': part_type},
                    dataType: 'json',
                    type: 'DELETE',
                    success: function(resp){
                        if (part_type == 'section'){
                            $(self).parent().parent().parent().remove();
                        } else {
                            $(self).parent().parent().prev().remove();
                            $(self).parent().parent().remove();
                        }
                    },
                    error: function(resp){
                        if (part_type == 'section'){
                            $(self).parent().parent().parent().remove();
                        } else {
                            $(self).parent().parent().prev().remove();
                            $(self).parent().parent().remove();
                        }
                    }
                })
            } else {
                if (part_type == 'section'){
                    $(self).parent().parent().parent().remove();
                } else {
                    $(self).parent().parent().prev().remove();
                    $(self).parent().parent().remove();
                }
            }
        }
        function deleteTask(task_id){
            return $.ajax({
                url: '/delete-part/',
                data: {'part_id': task_id, 'part_type': 'form'},
                dataType: 'json',
                type: 'DELETE'
            })
        }
    </script>
{% endblock %}
