{% extends 'base.html' %}
{% from 'macros.html' import render_image %}
{% block title %}
    {% if form_meta.name %}
    Transcription task - {{form_meta.name}}
    {% else %}
    Transcription task - New form
    {% endif %}
{% endblock %}
{% block content %}
<div class="row">
    <div class='col-md-6'>
        {{ render_image() }}
    </div>
    <div class="col-md-6 form-fit" id="form-wrapper">
        <form id="task-form" role="form" class="form form-horizontal" method="POST" action="">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class='well'>
                <div class="form-group">
                    <label for="id_task_name" class="col-sm-2 control-label">Task name</label>
                    <div class="col-sm-10">
                        <input type="text"
                           class="form-control"
                           id="id_task_name"
                           name="task_name"
                           {% if form_meta.name %}
                           value="{{ form_meta.name }}"
                           {% else %}
                           placeholder="A new transcription task"
                           {% endif %}
                           aria-describedby="section-name-addon"/>
                    </div>
                </div>
            </div>
            <div id="add-section-container">
                {% if form_meta.sections %}
                {% for section in form_meta.sections %}
                <div class="well">
                    <div class="form-group">
                        <label for="id_section_{{ section.index }}" class="col-sm-2 control-label">Section</label>
                        <div class="col-sm-10">
                            <input type="text"
                               class="form-control"
                               value="{{ section.name }}"
                               name="section_{{ section.index }}" 
                               id="id_section_{{ section.index }}"/>
                        </div>
                    </div>
                    <hr />
                    <div class="add-field-container">
                        {% for field in section.fields %}
                        <div class="form-group">
                            <label for="id_section_{{ section.index }}_field_{{ field.index }}" class="col-sm-2 control-label">Field</label>
                            <div class="col-sm-6">
                                <input type="text"
                                       class="form-control"
                                       value="{{ field.name }}"
                                       name="section_{{ section.index }}_field_{{ field.index }}"
                                       id="id_section_{{ section.index }}_field_{{ field.index }}" />
                            </div>
                            <div class="col-sm-4">
                                <select class="form-control" name="datatype_section_{{ section.index }}_field_{{ field.index }}">
                                    <option value="">Select field type</option>
                                    <option value="boolean"{% if field.data_type == 'boolean' %} selected="true"{% endif %}>Yes / No</option>
                                    <option value="string"{% if field.data_type == 'string' %} selected="true"{% endif %}>Text</option>
                                    <option value="datetime"{% if field.data_type == 'datetime' %} selected="true"{% endif %}>Date and time</option>
                                    <option value="date"{% if field.data_type == 'date' %} selected="true"{% endif %}>Date</option>
                                    <option value="integer"{% if field.data_type == 'integer' %} selected="true"{% endif %}>Number</option>
                                </select>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6 col-sm-offset-2">
                            <a href='#' class="add-field btn btn-sm btn-info">
                                <i class="fa fa-plus"></i>
                                Add field
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="well">
                    <div class="form-group">
                        <label for="id_section_1" class="col-sm-2 control-label">Section</label>
                        <div class="col-sm-10">
                            <input type="text"
                               class="form-control"
                               placeholder="Section name"
                               name="section_1"
                               id="id_section_1" />
                        </div>
                    </div>
                    <div class="add-field-container">
                        <div class="form-group">
                            <label for="section_1_field_1" class="col-sm-2 control-label">Field</label>
                            <div class="col-sm-6">
                                <input type="text"
                                       class="form-control"
                                       placeholder="Name of a field to transcribe"
                                       name="section_1_field_1" />
                            </div>
                            <div class="col-sm-4">
                                <select class="form-control" name="datatype_section_1_field_1">
                                    <option value="">Select field type</option>
                                    <option value="boolean">Yes / No</option>
                                    <option value="string">Text</option>
                                    <option value="datetime">Date and time</option>
                                    <option value="date">Date</option>
                                    <option value="integer">Number</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6 col-sm-offset-2">
                            <a href='#' class="add-field btn btn-sm btn-info">
                                <i class="fa fa-plus"></i>
                                Add field
                            </a>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <h4>
                <a href='#' class="add-section btn btn-info">
                    <i class="fa fa-plus"></i>
                    Add another section
                </a>
            </h4>
            <hr />
            <div class="form-group">
                <div class="col-sm-12">
                    <button class="btn btn-success" id="save-form">
                        <i class='fa fa-save'></i>
                        Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block extra_javascript %}
    <script src="{{ url_for('static', filename='js/ejs_production.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.panzoom.min.js') }}"></script>
    <script type="text/EJS" id="sectionTemplate">
        <div class="well">
            <div class="form-group">
                <label for="id_section_<%= section_id %>" class="col-sm-2 control-label">Section</label>
                <div class='col-sm-10'>
                    <input type="text"
                       class="form-control"
                       placeholder="Section name"
                       name="section_<%= section_id %>"
                       id="id_section_<%= section_id %>" />
                </div>
            </div>
            <div class="add-field-container">
                <div class="form-group">
                    <label for="id_section_<%= section_id %>_field_1" class="col-sm-2 control-label">Field</label>
                    <div class="col-sm-6">
                        <input type="text"
                               class="form-control"
                               placeholder="Name of a field to transcribe"
                               name="section_<%= section_id %>_field_1"
                               id="id_section_<%= section_id %>_field_1" />
                    </div>
                    <div class="col-sm-4">
                        <select class="form-control" name="datatype_section_<%= section_id %>_field_1">
                            <option value="">Select field type</option>
                            <option value="boolean">Yes / No</option>
                            <option value="string">Text</option>
                            <option value="datetime">Date and time</option>
                            <option value="date">Date</option>
                            <option value="integer">Number</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-2">
                    <a href='#' class="add-field btn btn-sm btn-info">
                        <i class="fa fa-plus"></i>
                        Add field
                    </a>
                </div>
            </div>
        </div>
    </script>
    <script type="text/EJS" id="fieldTemplate">
        <div class="form-group">
            <label for="id_section_<%= section_id %>_field_<%= field_id %>" class="col-sm-2 control-label">Field</label>
            <div class="col-sm-6">
                <input type="text"
                       class="form-control"
                       placeholder="Name of a field to transcribe"
                       name="section_<%= section_id %>_field_<%= field_id %>"
                       id="id_section_<%= section_id %>_field_<%= field_id %>" />
            </div>
            <div class="col-sm-4">
                <select class="form-control" name="datatype_section_<%= section_id %>_field_<%= field_id %>">
                    <option value="">Select field type</option>
                    <option value="boolean">Yes / No</option>
                    <option value="string">Text</option>
                    <option value="datetime">Date and time</option>
                    <option value="date">Date</option>
                    <option value="integer">Number</option>
                </select>
            </div>
        </div>
    </script>
    <script type="text/javascript">
        $(window).resize(function () {
            var h = $(window).height(),
            offsetTop = 110; // Calculate the top offset
            $('#form-wrapper').css('height', (h - offsetTop));
        }).resize();

        var section_id = {{ next_section_index|tojson|safe }}
        var field_ids = {{ next_field_index|tojson|safe }}
        $(document).ready(function(){
            $('#save-form').on('click', function(e){
                e.preventDefault();
                var inputs = $('#task-form').find('input');
                var selects = $('#task-form').find('select');
                var valid = true;
                $.each(inputs, function(i, inp){
                    if ($(inp).val() == ''){
                        valid = false;
                        $(inp).parent().addClass('has-error');
                        $(inp).parent().append('<span class="help-block">This field is required</span>')
                    } else {
                        $(inp).parent().removeClass('has-error');
                        $(inp).parent().find('span').remove();
                    }
                });
                $.each(selects, function(i, inp){
                    if ($(inp).val() == ''){
                        valid = false;
                        $(inp).parent().addClass('has-error');
                        $(inp).parent().append('<span class="help-block">Pick a field type</span>')
                    } else {
                        $(inp).parent().removeClass('has-error');
                        $(inp).parent().find('span').remove();
                    }
                });
                if(valid){
                    $('#task-form').submit();
                }
            })
            $('.add-field').on('click', addField)
            $('.add-section').on('click', function(e){
                e.preventDefault();
                var tpl = new EJS({'text': $('#sectionTemplate').html()});
                $('#add-section-container').append(tpl.render({'section_id': section_id}));
                $('.add-field').off();
                $('.add-field').on('click', addField)
                section_id += 1;
                resizeImage();
                return false;
            })
            $('.panzoom').panzoom({
                $zoomRange: $('input[type="range"]')
            });
        })
        function getFieldID(section_id){
            if(typeof field_ids[section_id] === 'undefined'){
                field_ids[section_id] = 2;
                return 2;
            } else {
                field_ids[section_id] = field_ids[section_id] + 1;
                return field_ids[section_id]
            }
        }
        function resizeImage(){
            var form_height = $('#form-wrapper').height();
            if (form_height > $('#result-image').height()){
                $('#result-image').height(form_height);
            }
        }
        function addField(e){
            e.preventDefault();
            var parent = $(e.target).parent().parent().parent().find('.add-field-container');
            var section = $(parent).parent().find('input[name^="section"]');
            var section_id = $(section).attr('name').split('_')[1];
            var tpl = new EJS({'text': $('#fieldTemplate').html()});
            $(parent).append(tpl.render({'section_id': section_id, 'field_id': getFieldID(section_id)}));
            resizeImage();
            return false;
        }
    </script>
{% endblock %}
