{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h1>Election Results Transcriber</h1>
        {% if tasks %}
            {% if current_user.has_role('admin') %}
            <p>
                <a href="{{ url_for('views.upload') }}" class="btn btn-info"><strong>New transcription task</strong> &raquo;</a>
            </p>
            <br>
            <h3>Tasks in Progress</h3>
            {% endif %}

            <table class='table' id='transcription_tasks'>
                <thead>
                    <tr>
                        <th>Task group</th>
                        <th>Transcription task</th>
                        <th>Deadline</th>
                        <th>Progress</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% if current_user.has_role('admin') %}
                        {% for t in tasks %}
                            {% if t[1]['reviews_complete'] < t[1]['reviews_total'] %}
                            <tr>
                                <td>
                                    <a href="{{ url_for('views.edit_task_group', group_id=t[0].task_group.id) }}">{{ t[0].task_group.name }}</a>
                                </td>
                                <td>{{t[0].name}}</td>
                                <td>
                                    <span datetime='{{t[0].deadline | format_date_sort}}'>
                                        <small>{{t[0].deadline | format_date }}</small>
                                    </span>
                                </td>
                                <td class='progress-info' data-container="body" data-toggle="popover" data-placement="top" data-content="
                                {{t[1]['docs_total']}} documents<br /> {{t[0]['reviewer_count']}} reviewer(s) each">
                                    {{t[1]['review_percent']}}% transcribed
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{t[1]['review_percent']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{t[1]['review_percent']}}%;">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <a href="{{ url_for('views.form_creator', form_id=t[0].id) }}"><i class="fa fa-cog fa-fw"></i> Settings</a><br />
                                    <a href="{{ url_for('views.transcriptions', task_id=t[0].id) }}"><i class="fa fa-eye fa-fw"></i> View transcriptions</a><br />
                                    <a href='{{ url_for('views.transcribe_intro', task_id=t[0].id )}}'><i class="fa fa-pencil fa-fw"></i> <strong>Start transcribing!</strong></a>
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% for t in tasks %}
                            {% if t[2] %}
                            <tr>
                                <td>
                                    {{ t[0].task_group.name }}
                                </td>
                                <td>{{t[0].name}}</td>
                                <td>
                                    <span datetime='{{t[0].deadline | format_date_sort}}'>
                                        <small>{{t[0].deadline | format_date }}</small>
                                    </span>
                                </td>
                                <td class='progress-info' data-container="body" data-toggle="popover" data-placement="top" data-content="
                                {{t[1]['reviews_complete']}} / {{t[1]['reviews_total']}} transcriptions complete<br>
                                {{t[1]['docs_total']}} documents<br /> {{t[0]['reviewer_count']}} reviewer(s) each">
                                    {{t[1]['reviews_complete']}} / {{t[1]['reviews_total']}} transcriptions
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{t[1]['review_percent']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{t[1]['review_percent']}}%;">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    {% if t[1]['reviews_complete'] < t[1]['reviews_total'] %}
                                    <a href='{{ url_for('views.transcribe_intro', task_id=t[0].id )}}'><i class="fa fa-pencil fa-fw"></i> <strong>Start transcribing!</strong></a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>

            <br>
            <h3>Completed Tasks</h3>

            {% if current_user.has_role('admin') %}
            <table class='table' id='finished_tasks'>
                <thead>
                    <tr>
                        <th>Task group</th>
                        <th>Transcription task</th>
                        <th>Deadline</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for t in tasks %}
                        {% if t[1]['review_percent'] == 100 %}
                            <tr>
                                <td>
                                    <a href="{{ url_for('views.edit_task_group', group_id=t[0].task_group.id) }}">{{ t[0].task_group.name }}</a>
                                </td>
                                <td>{{t[0].name}}</td>
                                <td>
                                    <span datetime='{{t[0].deadline | format_date_sort}}'>
                                        <small>{{t[0].deadline | format_date }}</small>
                                    </span>
                                </td>
                                <td>
                                    <a href="{{ url_for('views.form_creator', form_id=t[0].id) }}"><i class="fa fa-cog fa-fw"></i> Settings</a><br />
                                    <a href="{{ url_for('views.transcriptions', task_id=t[0].id) }}"><i class="fa fa-eye fa-fw"></i> View transcriptions</a><br />
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}




        {% else %}
            {% if current_user.has_role('admin') %}
            <p>
                <a href="{{ url_for('views.upload') }}" class="btn btn-info btn-lg">Create your first transcription task > </a>
            </p>
            {% else %}
                <p> No transcription tasks available </p>
            {% endif %}
        {% endif %}
    </div>
</div>


{% endblock %}

{% block extra_javascript %}
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.dataTables.sorting.js') }}"></script>
    <script type='text/javascript'>
        $(document).ready(function(){

            // $.each($('.date-created'), function(i, el) {
            //     var date = $(this)
            //     console.log(moment(date.html(), "YYYY-MM-DD HH:mm:ss.S Z"))
            //     console.log(moment.utc().utcOffset('-06:00'))
            //     date.html(moment(date.html(),"YYYY-MM-DD HH:mm:ss.S Z").from(moment().utcOffset('-06:00')))
            // })
            $('.progress-info').popover({trigger: 'hover', html: true});

            $('#transcription_tasks').DataTable( {
                "aaSorting": [ [0,'desc'], [1,'desc'] ],
                "aoColumns": [
                    null,
                    null,
                    { "sType": "datetime" },
                    { "bSortable": false },
                    { "bSortable": false }
                ],
                "paging": false,
                "searching": false,
                "info": false
            } );
        });
    </script>
{% endblock %}
