{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h1>Election Transcriber</h1>

        {% if tasks %}

            <p>
                <a href="{{ url_for('views.upload') }}" class="btn btn-default">New transcription task > </a>
            </p>

            <table class='table' id='transcription_tasks'>
                <thead>
                    <tr>
                        <th>Transcription task</th>
                        <th>Created</th>
                    </tr>
                </thead>
                <tbody>
                    {% for t in tasks %}
                        <tr>
                            <td><a href='/form-creator/?form_id={{t.id}}'>{{t.name}}</a></td>
                            <td>
                                <span datetime='{{t.date_added | format_date_sort}}'>
                                    {{t.date_added}}
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        {% else %}
            <p>
                <a href="{{ url_for('views.upload') }}" class="btn btn-primary">Create your first transcription task > </a>
            </p>
        {% endif %}
    </div>
</div>


{% endblock %}

{% block extra_javascript %}
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.dataTables.sorting.js') }}"></script>
    <script type='text/javascript'>
        $(document).ready(function(){
            $('#transcription_tasks').DataTable( {
                "aaSorting": [ [1,'desc'] ],
                "aoColumns": [
                    null,
                    { "sType": "datetime" }
                ],
                "paging": false,
                "searching": false,
                "info": false
            } ); 
        });
    </script>
{% endblock %}
