{% macro render_image() -%}
    {% if session.image_type == 'pdf' %}
    <iframe src="{{ url_for('views.viewer', file=session.image) }}"
            id="result-image"
            frameborder="0"
            seamless="true"
            width="100%"
            height="450px">
    </iframe>
    {% else %}
    <div class="row">
        <div class="col-md-12 image-inset">
            <img src="{{session.image}}" class="panzoom" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input type="range" />
        </div>
    </div>
    {% endif %}
{%- endmacro %}
