{% extends 'base.html' %}
{% block title %}Task Creator{% endblock %}
{% block content %}
<div class="row">
    <div class='col-md-12'>
        <h3>Task creator</h3>
        <form role="form" class="form" method="POST" action="" enctype="multipart/form-data">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <div class="form-group">
            <input type="file" name="input_file" id="input_file" />
            <p class="help-block">
                You can upload PDFs.
            </p>
          </div>
          <button type="submit" class="btn btn-success">Next ></button>
        </form>
    </div>
</div>

<div class="row">
    <div class='col-md-5'>
        {% if image %}
            <iframe src="{{ url_for('views.viewer', file=image) }}"
                    id="result-image"
                    frameborder="0"
                    seamless="true"
                    width="100%"
                    height="450px"></iframe>
        {% endif %}
    </div>
    <div class="col-md-7">
        <div id="form-maker"></div>
    </div>
</div>
{% endblock %}
{% block extra_javascript %}
{% if image %}
<script src="{{ url_for('static', filename='js/pdf.js') }}"></script>
<script type="text/javascript">
  $(document).ready(function(){
    PDFJS.getDocument("{{image}}").then(function(doc){
      doc.getPage(1).then(function(page){
        var width = $('#result-image').width()
        var viewport = page.getViewport(width / page.getViewport(1.0).width);
        console.log($('#result-image').height());
        console.log(viewport)
        $('#result-image').height(viewport.height);
      })
    })
  })
</script>
{% endif %}
{% endblock %}
