{% extends 'base.html' %}
{% block title %}{{task.name}}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h1>{{task.name}}</h1>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-sm-5 col-sm-offset-2">
        {% if task.reviewer_count %}
            <i class="fa fa-user fa-fw"></i> <strong>{{task.reviewer_count}}</strong> reviewers per document<br>
        {% endif %}
        {% if task.deadline %}
            <i class="fa fa-calendar fa-fw"></i> due {{task.deadline | format_date}}<br>
        {% endif %}

        <!--
        add task creation date?
        add total # documents?
        -->

        {% if task.description %}
            <h3>{{task.description}}</h3><br>
        {% endif %}

        <a href='{{ url_for('views.transcribe', task_id=task.id )}}'>
            <button class="btn btn-success btn-lg">
                OK
            </button>
        </a>
        <br><br><br>
    </div>
    <div class="col-sm-3">
        <img src="{{ url_for('static', filename='images/robot.png') }}"></img>
    </div>
</div>


{% endblock %}
