{% extends 'base.html' %}
{% from 'macros.html' import render_image, render_header %}
{% block title %}{{task.name}}{% endblock %}
{% block content %}

{{ render_header(task.name, task, task.id, 'transcribe') }}

<div class="row">
    <div class='col-md-6'>
        {{ render_image() }}
    </div>
    {% if is_new %}
    <div class="pretend-new">
    {% else %}
    <div>
    {% endif %}
        <div class="col-sm-6" id="form-area">
            <form id="transcriber" role="form" class="form-horizontal" method="POST" action="">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                {% for section in task.sections %}
                    <div class="well">
                        <h3>{{ section.name }}</h3>
                        {% for field in section.fields %}
                            {% set form_field = form|attr(field.slug) %}
                            {% set form_blank = form|attr(field.slug + '_blank') %}
                            {% set form_not_legible = form|attr(field.slug + '_not_legible') %}
                            {% set form_altered = form|attr(field.slug + '_altered') %}
                            {% if form_field.errors %}
                            <div class="form-group has-error">
                            {% else %}
                            <div class="form-group">
                            {% endif %}
                                <div class="row">
                                    <div class="col-sm-12">
                                        {% if form_field.type == 'StringField' %}
                                            <label for="id_{{ field.slug }}" class="col-sm-3 control-label">{{ field.name }}</label>
                                            <div class='col-sm-6'>
                                                {{ form_field(class_='form-control') }}
                                            </div>

                                        {% elif form_field.type == 'NullableIntegerField' %}
                                            <label for="id_{{ field.slug }}" class="col-sm-3 control-label">{{ field.name }}</label>
                                            <div class='col-sm-6'>
                                                {{ form_field(class_='form-control') }}
                                            </div>

                                        {% elif form_field.type == 'BooleanField' %}
                                            <div class="checkbox col-sm-offset-3">
                                                <label>
                                                    {{ form_field }} {{ field.name }}
                                                </label>
                                            </div>

                                        {% elif form_field.type == 'NullableDateField' %}
                                            <div class='col-sm-9'>
                                                <label for="id_{{ field.slug }}" class="col-sm-4 control-label">{{ field.name }}</label>
                                                <div class='input-group date datepicker'>
                                                    {{ form_field(class_='form-control') }}
                                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                </div>
                                            </div>

                                        {% elif form_field.type == 'NullableDateTimeField' %}
                                            <div class='col-sm-9'>
                                                <label for="id_{{ field.slug }}" class="col-sm-4 control-label">{{ field.name }}</label>
                                                <div class='input-group date datetimepicker'>
                                                    {{ form_field(class_='form-control') }}
                                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                </div>
                                            </div>

                                        {% endif %}
                                        <div class="col-sm-offset-9">
                                            <div class="checkbox field-checks">
                                                <label>
                                                    {{ form_blank(class='check-blank', tabindex="-1") }} <small>Blank?</small>
                                                </label>
                                                <label>
                                                    {{ form_not_legible(class='check-nl', tabindex="-1") }} <small>Not legible?</small>
                                                </label>
                                                <label>
                                                    {{ form_altered(class='check-altered', tabindex="-1") }} <small>Looks altered?</small>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        {% if form_field.errors %}
                                            {% for error in form_field.errors %}
                                            <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
                <div class="form-group">
                    <div class="col-sm-12">
                        <button class="btn btn-success" id="save-form">
                            <i class='fa fa-check'></i>
                            Submit
                        </button>

                        {% if task.user_transcriptions %}
                            <div class='pull-right'>
                                {% if task.user_transcriptions == 1 %}
                                    You've submitted <strong>1</strong> transcription
                                {% elif task.user_transcriptions > 1 %}
                                    You've submitted <strong>{{task.user_transcriptions}}</strong> transcriptions!
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-6">
        {% with saved = get_flashed_messages(category_filter=["saved"]) %}
            {% if saved %}
            <div class="alert alert-success fade-out" role="alert">
              {{ saved[0] }}
            </div>
            {% endif %}
        {% endwith %}
        {% with expired = get_flashed_messages(category_filter=["expired"]) %}
            {% if expired %}
            <div class="alert alert-danger fade-out" role="alert">
              {{ expired[0] }}
            </div>
            {% endif %}
        {% endwith %}
    </div>
</div>

{% endblock %}
{% block extra_javascript %}
    <script src="{{ url_for('static', filename='js/jquery.panzoom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-datetimepicker.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.datetimepicker').datetimepicker({
                format: 'MM/DD/YYYY HH:mm'
            });
            $('.datepicker').datetimepicker({
                format: 'MM/DD/YYYY'
            });

            $('.panzoom').panzoom({
                $zoomRange: $('input[type="range"]')
            });
            $('.fade-out').show().delay(1200).fadeOut(700);
            $('.pretend-new').hide().delay(2000).fadeIn(800);

            $('.check-blank').change(function(){
                // when blank is checked, clear field content & uncheck not legible checkbox
                if(this.checked){
                    field_name = this.id.slice(0,-6)
                    $('#'+field_name).val('')
                    $('#'+field_name+'_not_legible').attr('checked', false);
                }
            });
            $('.check-nl').change(function(){
                // when not legible is checked, uncheck blank checkbox
                if(this.checked){
                    field_name = this.id.slice(0,-12)
                    $('#'+field_name+'_blank').attr('checked', false);
                }
            });
        })

        //dynamically set the size of the image iframe
        $(window).resize(function () {
          var h = $(window).height(),
            offsetTop = 95; // Calculate the top offset

          $('#result-image').css('height', (h - offsetTop));
        }).resize();
    </script>
{% endblock %}
