{% extends 'base.html' %}
{% from 'macros.html' import render_image %}
{% block title %}Election Transcriber{% endblock %}
{% block content %}
<div class="row">
    <div class='col-md-5'>
        {{ render_image() }}
    </div>
    <div class="col-sm-7">
        <form id="transcriber" role="form" class="form" method="POST" action="">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            {% for section in task.sections %}
                <div class="well">
                    <h3>{{ section.name }}</h3>
                    {% for field in section.fields %}
                        {% set form_field = form|attr(field.slug) %}
                        {% if form_field.errors %}
                        <div class="form-group has-error">
                        {% else %}
                        <div class="form-group">
                        {% endif %}
                            {% if form_field.widget.input_type == 'text' %}
                            <label for="id_{{ field.slug }}">{{ field.name }}</label>
                            {{ form_field(class_='form-control') }}
                            {% elif form_field.widget.input_type == 'checkbox' %}
                            <div class="checkbox">
                                <label>
                                    {{ form_field }} {{ field.name }}
                                </label>
                            </div>
                            {% endif %}
                            {% if form_field.errors %}
                                {% for error in form_field.errors %}
                                <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            <div class="form-group">
                <button class="btn btn-default" id="save-form">
                    Save
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block extra_javascript %}
    <script src="{{ url_for('static', filename='js/jquery.panzoom.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.panzoom').panzoom({
                $zoomRange: $('input[type="range"]')
            });
        })
    </script>
{% endblock %}
