{% extends 'base.html' %}
{% from 'macros.html' import render_image, render_header %}
{% block title %}Transcriber: {{user.name}}{% endblock %}
{% block content %}

{{ render_header("Transcriber Activity: <i class='fa fa-user'></i> "+user.name+" <small>"+user.email+"</small>", None, None, None) }}

<div class="row">
    <div class="col-sm-12">
        {% if user_transcriptions %}

            {% for task_transcriptions in user_transcriptions%}
                <h3>
                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#{{task_transcriptions[0].id}}">
                        <i class='fa fa-plus'></i>
                    </button>
                    {{task_transcriptions[0].name}}
                </h3>
                <div id="{{task_transcriptions[0].id}}" class="collapse in">
                    <table class="table">
                        <tr>
                            {% for h in task_transcriptions[1][0] %}
                                <th> {{h}} </th>
                            {% endfor %}
                        </tr>
                        {% for transcription in task_transcriptions[1][1:] %}
                            <tr>
                                {% for col in transcription %}
                                    <td><small> {{col|safe}} </small></td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <hr>
            {% endfor %}
        {% else %}
            <h2>{{user.name}} has not transcribed anything yet</h2>
        {% endif %}
    </div>
</div>

{% endblock %}
{% block extra_javascript %}

    <script type="text/javascript">
        $(document).ready(function(){
            $('tr td:nth-child(1)').css('background-color', '#eee');
            $('tr td:nth-child(2)').css('background-color', '#eee');
            $('tr td:nth-child(3)').css('background-color', '#eee');
            $('tr td:nth-child(4)').css('background-color', '#eee');
            $('td >> .fa-question').parent().parent().css('background-color','#fddbd7');
            $('td >> .fa-times').parent().parent().css('background-color','#fab0a7');
        })

    </script>
{% endblock %}
