{% extends 'base.html' %}
{% from 'macros.html' import render_image, render_header %}
{% block title %}Transcriber: {{user.name}}{% endblock %}
{% block content %}

{{ render_header("User Profile: <i class='fa fa-user'></i> "+user.name+" <small>"+user.detail+"</small>", None) }}

<div class="row">
    <div class="col-sm-12">
        {% if user_transcriptions %}
            <div>
                <i class="fa fa-times fa-fw"></i> Blank <br>
                <i class="fa fa-question fa-fw"></i> Not legible <br>
                <i class="fa fa-exclamation-triangle fa-fw"></i> Looks altered <br>
            </div>

            {% for task_transcriptions in user_transcriptions%}
                <h3>
                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#{{task_transcriptions[0].id}}">
                        <i class='fa fa-plus'></i>
                    </button>
                    {{task_transcriptions[0].name}}
                </h3>
                <div id="{{task_transcriptions[0].id}}" class="collapse in">
                    <table class="table">
                        <tr>
                            {% for h in task_transcriptions[1][0] %}
                                <th> {{h}} </th>
                            {% endfor %}
                        </tr>
                        {% for transcription in task_transcriptions[1][1:] %}
                            <tr>
                                {% for col in transcription %}
                                    <td><small> {{col|safe}} </small></td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <hr>
            {% endfor %}
        {% else %}
            <h2>{{user.name}} has not transcribed anything yet</h2>
        {% endif %}
    </div>
</div>

<br /><br />

{% endblock %}
{% block extra_javascript %}

    <script type="text/javascript">
        $(document).ready(function(){
            $('tr th:nth-child(1)').css('color', '#aaa');
            $('tr th:nth-child(2)').css('color', '#aaa');
            $('tr th:nth-child(3)').css('color', '#aaa');
            $('tr td:nth-child(2)').css('color', '#aaa');
            $('tr td:nth-child(3)').css('color', '#aaa');
            $('td >> .fa-question').parent().parent().css('background-color','#fcebca');
            $('td >> .fa-times').parent().parent().css('background-color','#f9da9a');
            $('td >> .fa-exclamation-triangle').parent().parent().css('background-color','#fab0a7');
        })

    </script>
{% endblock %}